<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thingtek.beanServiceDao.unit.dao.UnitDao">

    <sql id="select">
        SELECT UNIT.ID AS ID
        ,UNIT.UNIT_NUM AS UNIT_NUM
        ,UNIT.POINT_NUM AS POINT_NUM
        ,UNIT.PHASE AS PHASE
        ,POINT.POINT_NAME AS POINT_NAME
        ,CLT.TYPE_NUM AS CLT_TYPE
        ,CLT.TYPE_NAME AS CLT_NAME
    </sql>
    <sql id="join">
        LEFT JOIN POINT POINT ON UNIT.POINT_NUM = POINT.POINT_NUM
        LEFT JOIN CLT_TYPE CLT ON CLT.TYPE_NUM = POINT.CLT_TYPE
    </sql>

    <select id="findByCltType" resultType="java.util.Map" parameterType="int">
        <include refid="select"/>
        <choose>
            <when test=" _parameter == 1 ">
                ,UNIT.COM AS COM
                ,UNIT.DIYA_WARN AS DIYA_WARN
                ,UNIT.BISUO_WARN AS BISUO_WARN
                ,UNIT.MIDU_WARN AS MIDU_WARN
                FROM UNIT_SF6 UNIT
            </when>
            <when test=" _parameter == 4 ">
                ,UNIT.FZ AS FZ
                ,UNIT.IP AS IP
                FROM UNIT_DIS UNIT
            </when>
        </choose>
        <include refid="join"/>
        <where>
            POINT.CLT_TYPE = #{_parameter}
        </where>
        order by UNIT.UNIT_NUM asc
    </select>

    <update id="update">
        UPDATE
        <choose>
            <when test="clt_type == 1">
                UNIT_SF6
            </when>
            <when test="clt_type == 4">
                UNIT_DIS
            </when>
        </choose>
        UNIT
        SET
        POINT_NUM = #{unit.POINT_NUM}
        ,PHASE = #{unit.PHASE}
        <choose>
            <when test="clt_type == 4">
                ,FZ = #{unit.FZ}
                ,IP = #{unit.IP}
            </when>
            <when test="clt_type == 1">
                ,COM = #{unit.COM}
                ,DIYA_WARN =#{unit.DIYA_WARN}
                ,BISUO_WARN =#{unit.BISUO_WARN}
                ,MIDU_WARN =#{unit.MIDU_WARN}
            </when>
        </choose>
        <where>
            UNIT_NUM = #{unit.UNIT_NUM}
        </where>
    </update>

    <delete id="deleteUnitByNum">
        DELETE FROM
        <choose>
            <when test=" clt_type == 1 ">UNIT_SF6</when>
            <when test=" clt_type == 4 ">UNIT_DIS</when>
        </choose>
        <where>
            UNIT_NUM IN
            <foreach collection="unit_nums" item="unit_num" open="(" close=")" separator=",">
                #{unit_num}
            </foreach>
        </where>
    </delete>

    <!-- 新增 -->
    <insert id="saveUnit">
        INSERT INTO
        <choose>
            <when test=" clt_type == 1 ">
                UNIT_SF6
            </when>
            <when test=" clt_type == 4 ">
                UNIT_DIS
            </when>
        </choose>
        (
        UNIT_NUM
        ,POINT_NUM
        ,PHASE
        )
        VALUES
        <foreach collection="units" open="(" separator="),(" close=")" item="unit">
            #{unit.unit_num}
            , #{unit.point_num}
            , #{unit.phase}
        </foreach>
        ON DUPLICATE KEY UPDATE
        POINT_NUM = #{unit.point_num}
        , PHASE = #{unit.phase}
        <choose>
            <when test=" clt_type == 1 ">
            </when>
            <when test=" clt_type == 4 ">
            </when>
        </choose>
    </insert>
</mapper>